@import url("./base.css");

.heatmap {
  position: relative;
}

.heatmap-bar {
  position: absolute;
  right: 0px;
  bottom: 0;

  height: 100%;

  display: flex;
}

.cursor {
  position: absolute;

  width: 20px;
  height: 5px;
  margin-bottom: -5px;

  background-color: var(--text-color);
  /* border-radius: 2.5px; */
}

.heatmap-bar .gradient {
  height: 100%;
  width: 20px;

  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    var(--heatmap-cell-color) 0%,
    transparent 100%
  );
}
/* .heatmap-bar .gradient.vertical */

.indices {
  /* just a SCSS variable name */
  --spacing: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  /* height: calc(100% - var(--spacing)); */
  /* margin-top: calc(var(--spacing) / 2); */
  margin-left: 10px;
}

.indices .index {
  --spacing: 30px;

  flex: 100%;
  width: calc(100% + var(--spacing));
  display: flex;
  align-items: start;

  cursor: pointer;
  background: transparent;

  border: 0;
  outline: 0;

  font-size: 16px;
  color: var(--text-color);
  text-align: left;

  margin-left: calc(-1 * var(--spacing));
  padding-left: var(--spacing);
}

.indices .index:not(:last-child) {
  border-bottom: 1px solid var(--text-color);
}

.indices::after {
  content: "0";
  position: absolute;
  bottom: -1em;
}

.heatmap-cell {
  cursor: pointer;
  /* padding: 10px; */
  position: relative;

  text-align: center;
  vertical-align: middle;
}

.--with-selection .heatmap-cell:not(.--selected) {
  color: transparent;
  background-color: transparent;
}

.--with-selection .heatmap-cell:not(.--selected) .heatmap-cell__background {
  background: transparent;
}

.heatmap-cell__background {
  transition: all 0.2s ease-in-out;
  background: var(--heatmap-cell-color);

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
}

.heatmap-cell:hover .heatmap-cell__background {
  transition: all 0.2s ease-in-out;
  background: var(--heatmap-cell-color-hover);
}

.heatmap-cell__value {
  position: relative;
  z-index: 20000000;
}
