:root {
  --background-color: hsl(210, 16%, 13%);
  --text-color: white;
  --heatmap-cell-color: hsl(0, 100%, 50%);
  --heatmap-cell-color-hover: hsl(0, 100%, 64%);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;

  flex-direction: column;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

body.light {
  --background-color: white;
  --text-color: hsl(210, 16%, 13%);
  --light-color: rgba(0, 0, 0, 0.1);
  --odd-row: rgba(0, 0, 0, 0.1);
}

body.dark {
  --background-color: hsl(210, 16%, 13%);
  --text-color: white;
  --light-color: rgba(255, 255, 255, 0.1);
  --odd-row: rgba(0, 0, 0, 0.3);
}

body.red {
  --heatmap-cell-color: hsl(0, 100%, 50%);
  --heatmap-cell-color-hover: hsl(0, 100%, 64%);
}

body.orange {
  --heatmap-cell-color: hsl(30, 100%, 50%);
  --heatmap-cell-color-hover: hsl(30, 100%, 64%);
}

body.blue {
  --heatmap-cell-color: hsl(200, 100%, 50%);
  --heatmap-cell-color-hover: hsl(200, 100%, 64%);
}

body.green {
  --heatmap-cell-color: hsl(100, 100%, 50%);
  --heatmap-cell-color-hover: hsl(100, 100%, 64%);
}

body.purple {
  --heatmap-cell-color: hsl(300, 100%, 50%);
  --heatmap-cell-color-hover: hsl(300, 100%, 64%);
}

#root {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.configuration-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  padding: 20px;
}

.current-max {
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

input {
  background-color: var(--light-color);

  font-size: 16px;
  color: var(--text-color);

  padding: 10px;

  border: 0;
  border-radius: 5px;
}

select {
  flex: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
}

.heatmap {
  max-width: 1200px;
}
.heatmap__table {
  margin: 25px;
  overflow: auto;
  min-width: 0;
  max-width: 100%;
  overflow: auto;
  display: block;
}

table,
tbody,
tr,
td,
th {
  border: 0;
}

tr:nth-child(odd) {
  background-color: var(--odd-row);
}

th {
  padding: 7.5px 15px;
}

th:first-child {
  visibility: hidden;
}

.row-header {
  padding: 15px;
}
